[Unit]
Description=HostBuster Auto Proxy Caddy Service
After=network-online.target caddy.service
Wants=network-online.target
Requires=caddy.service

StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
Type=simple
EnvironmentFile=/usr/local/sbin/hostbuster_auto_proxy.env
ExecStart=/usr/local/sbin/hostbuster_auto_proxy.sh

StandardOutput=journal
StandardError=journal

TimeoutStartSec=60
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
